:root.theme-dark {
  --bg-image: url('../images/cover-image-dark.png');
  --bg-color: #000028;
  --title-color: #DB00FF;
  --title-shadow: #FF0070;
  --button-color: #FF0070;
  --button-hover-color: #FF007066;
  --content-title-color: #FF0070;
  --content-text-color: #F1B2CE;
  --decor-color: #FF0070;
  --link-shadow-color: #FF8DCB;
  --accent-title-color: #000028;
  --accent-title-bg-color: #FF0070;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-dark.png');
    --bg-color: #000028;
    --title-color: #DB00FF;
    --title-shadow: #FF0070;
    --button-color: #FF0070;
    --button-hover-color: #FF007066;
    --content-title-color: #FF0070;
    --content-text-color: #F1B2CE;
    --decor-color: #FF0070;
    --link-shadow-color: #FF8DCB;
    --accent-title-color: #000028;
    --accent-title-bg-color: #FF0070;
  }
}
