:root.theme-light {
  --bg-image: url('../images/cover-image-light.png');
  --bg-color: #FFF1F7;
  --title-color: #FFC2E6;
  --title-shadow: #FF8DCB;
  --button-color: #353430;
  --button-hover-color: #32312D66;
  --content-title-color: #353430;
  --content-text-color: #353430;
  --decor-color: #353430;
  --link-shadow-color: #FF8DCB;
  --accent-title-color: #353430;
  --accent-title-bg-color: #FF8DCB;
  --rec-display: none;
}

@media (prefers-color-scheme: light) {
  :root {
    --bg-image: url('../images/cover-image-light.png');
    --bg-color: #FFF1F7;
    --title-color: #FFC2E6;
    --title-shadow: #FF8DCB;
    --button-color: #353430;
    --button-hover-color: #32312D66;
    --content-title-color: #353430;
    --content-text-color: #353430;
    --decor-color: #353430;
    --link-shadow-color: #FF8DCB;
    --accent-title-color: #353430;
    --accent-title-bg-color: #FF8DCB;
    --rec-display: none;
  }
}
